[Desktop Entry]
Type=Application
Name=Software Hub
Name[de]=Software-Center
Name[es]=Centro de software
Name[fr]=Logithèque
Name[hi]=सॉफ़्टवेयर हब
Name[pl]=Centrum oprogramowania
Name[pt_BR]=Central de Programas
Name[ru]=Центр приложений
Name[zh_CN]=软件中心
GenericName=Software Store
GenericName[de]=Anwendungsladen
GenericName[es]=Tienda de aplicaciones
GenericName[fr]=Magasin d'applications
GenericName[hi]=ऐप्लिकेशन स्टोर
GenericName[pl]=Sklep z aplikacjami
GenericName[pt_BR]=Loja de aplicativos
GenericName[ru]=Магазин приложений
GenericName[zh_CN]=应用商店
Comment=Install, update and remove Flatpak applications and games
Comment[de]=Flatpak-Anwendungen und -Spiele installieren, aktualisieren und entfernen
Comment[es]=Instale, actualice y quite aplicaciones y juegos Flatpak
Comment[fr]=Installez, mettez à jour et supprimez des applications et des jeux Flatpak
Comment[hi]=Flatpak ऐप्लिकेशन और गेम इंस्टॉल करें, अपडेट करें और हटाएँ
Comment[pl]=Instaluj, aktualizuj i usuwaj aplikacje oraz gry Flatpak
Comment[pt_BR]=Instale, atualize e remova aplicativos e jogos Flatpak
Comment[ru]=Устанавливайте, обновляйте и удаляйте приложения и игры Flatpak
Comment[zh_CN]=安装、更新和移除 Flatpak 应用程序与游戏
Exec=distribumpy
Icon=distribumpy
Terminal=false
Categories=System;PackageManager;
Keywords=flatpak;flathub;software;install;store;applications;apps;update;lxb;
Keywords[de]=flatpak;flathub;Software;installieren;Laden;Anwendungen;Spiele;Aktualisierungen;lxb;
Keywords[es]=flatpak;flathub;software;instalar;tienda;aplicaciones;juegos;actualizaciones;lxb;
Keywords[fr]=flatpak;flathub;logiciel;logiciels;installer;magasin;applications;jeux;mises à jour;lxb;
Keywords[hi]=flatpak;flathub;सॉफ़्टवेयर;इंस्टॉल;स्टोर;ऐप्लिकेशन;गेम;अपडेट;lxb;
Keywords[pl]=flatpak;flathub;oprogramowanie;instalacja;sklep;aplikacje;gry;aktualizacje;lxb;
Keywords[pt_BR]=flatpak;flathub;programas;instalar;loja;aplicativos;jogos;atualizações;lxb;
Keywords[ru]=flatpak;flathub;программы;установка;магазин;приложения;игры;обновления;lxb;
Keywords[zh_CN]=flatpak;flathub;软件;安装;商店;应用程序;游戏;更新;lxb;
StartupNotify=true
StartupWMClass=distribumpy
X-GNOME-SingleWindow=true
